/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	font-family: inherit;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/** Typography and Colors **/

body {
	background-color: #eee;
	font: normal normal 16px/1.25 "Helvetica Neueu", "Helvetica", "Arial", sans-serif;
}

header h1 {
	text-align: center;
	font-size: 3em;
}

header p {
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

h3 {
	color: #333;
	font-size: 20px;
	line-height: 22px;
	font-weight: normal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#params {
	background-color: #e8e8e8;
	color: #999;
}

#params li {
	background-color: #ccc;
}

#params .bar span {
	background-color: #999;
}



#feed {
	font-size: 14px;
	line-height: 18px;
}

#feed article {
	border-top: 1px dotted #ccc;
}

#feed article:first-child {
	border-top-style: solid;
}

#feed .avatar {
	background-color: #366;
	color: rgba(0,0,0,0);
}

#feed header a:hover {
	text-decoration: none;
}

#feed .name {
	font-weight: bold;
	color: #000;
}

#feed header a:hover .name,
#feed .permalink:hover {
	text-decoration: underline;
	color: #00c;
}

#feed .username, 
#feed .permalink {
	font-size: 12px;
	color: #999;
}

#feed .permalink {
	display: none;
	color: #00c;
}

#feed article:hover .permalink {
	display: inline;
	float: right;
}

#feed p {
	overflow: hidden;
	text-overflow: ellipsis;
}

#feed aside,
#feed article:hover{
	background-color: #e8e8e8;
}

#feed article:hover aside {
	border: 1px dotted #ccc;
	border-right: none;
	border-left: 6px solid #3d89a0;
}

#feed article:hover:nth-child(3n+1) aside {
	border-left-color: #9aa641;
}

#feed article:hover:nth-child(3n+2) aside {
	border-left-color: #a82934;
}

#feed article:first-child:hover aside {
	border-top-style: solid;
}

#feed aside .param {
	color: #999;
}

#feed aside .value {
	display: inline-block;
	min-width: 2em;
}



/** Layout **/

body {
	margin: 16px auto;
	max-width: 1200px;
}

body > header {
	margin: 0 16px 16px;
}


h3 {
	margin: 3px 0 5px;
}

#main section {
	float: left;
	/*width: 33.33%;*/
	padding: 0 16px;
}

#col1 {
	width: 40%;
}

#col2, #col3 {
	width: 30%;
}


canvas {
	display: block;
	width: 100%;
}

canvas.notes {
	height: 226px;
	margin-bottom: 4px;
}

canvas.hits {
	height: 27px;
}


#params li {
	padding: 8px 0;
	margin-left: 49%;
	width: 2%;
	clear: both;
}

#params span {
	display: inline-block;
	width: 2400%;
	height: 20px;
}

#params .bar span {
	min-width: 1px;
	
	transition: width 0.5s;
	-o-transition: width 0.5s;
	-ms-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
}

#params :not(.negative) .name {
	margin-left: -2400%;
	padding-right: 8px;
	text-align: right;
}

#params :not(.negative) .bar {
	float: right;
	margin-right: -2400%;
}

#params .negative .name {
	float: right;
	margin-right: -2400%;
	padding-left: 8px;
}

#params .negative .bar {
	margin-left: -2400%;
	text-align: right;
}


#feed-container {
	padding-bottom: 16px;
	margin-top: 4px;
}

#feed article {
	padding: 12px;
	overflow: visisble;
}

#feed .avatar {
	float: left;
	height: 48px;
	width: 48px;
	border-radius: 5px;
	
	margin-right: 12px;
}

#feed p {
	margin-left: 60px;
}

#send-tweet {
	min-height: 140px;
	background-color: #eee;
	
	position: relative;
	z-index: 100000;
}

#send-tweet iframe {
	width: 100% !important;
}



#feed article {
	position: relative;
	min-height: 72px;
}

#feed article aside.empty {
	display: none;
	
}

#feed article aside {
	position: absolute;
	top: -1px;
	right: 100%;
	overflow: hidden;
	
	padding: 12px 0;
	width: 0;
	opacity: 0;
	
	transition: width 0.4s, padding 0.4s, opacity 0.4s;
	-o-transition: width 0.4s, padding 0.4s, opacity 0.4s;
	-ms-transition: width 0.4s, padding 0.4s, opacity 0.4s;
	-moz-transition: width 0.4s, padding 0.4s, opacity 0.4s;
	-webkit-transition: width 0.4s, padding 0.4s, opacity 0.4s;
}

#feed article:hover aside {
	width: 150px;
	padding: 12px;
	opacity: 1;
}

#feed article aside ul li {
	text-align: right;
	white-space: nowrap;
}

@media (max-width: 950px) {
	#main section {
		width: 50%;
	}
}

@media (max-width: 650px) {
	#main section {
		width: 100%;
	}
	
	#feed article aside {
		display: none;
	}
}


